@media (max-width: 991px) {

    .header-menu .some{display: none;}
    .header-menu .abreMenu{display: block;}

}


@media (max-width: 520px) {

    .rodape-fixo .img-div {
        max-height: 21px;
        max-width: 109px;
        margin: 0px 7px;
    }

    .rodape-fixo .abre-link img {
        background: #4bbb49;
        height: 40px;
        padding: 9px 10px;
    }
}

@media (max-width: 380px) {

    .rodape-fixo .img-div {
        max-height: 18px;
        max-width: 92px;
        margin: 0px 7px;
    }

    .rodape-fixo .abre-link img {
        background: #4bbb49;
        height: 36px;
        padding: 9px 10px;
    }
}